@import url('https://fonts.googleapis.com/css?family=Lato');

/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0px;
  box-sizing: border-box;
}

.six {
  text-align: center;
  color:#222; 
  font-size:2em; 
  font-weight:400;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px; color:#c50000;
}
p {
  line-height:2em;
  padding-bottom:15px;
  text-transform: none;
  font-size:1.5em;
  font-weight: normal;
  font-style: italic; font-family: "Playfair Display","Bookman",serif;
  color:#999; letter-spacing:-0.005em; word-spacing:1px;
  letter-spacing:none;
}


/* Estilos para la introducción */
#faseIntroduccion {
  text-align: center;
}

button.btn.btn-primary,
.btn-verificar,
#verificarAcertijo.btn-primary {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  color: #382b22; 
  text-transform: uppercase;
  padding: 15px 20px;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2; /* Reemplazado por el color $dark-pink */
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2; /* Reemplazados por los colores $pink-border y $pink-shadow */
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }

  &:hover {
    background: #ffe9e9; /* Reemplazado por el color $pink */
    transform: translate(0, 0.25em);

    &::before {
      box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2; /* Reemplazados por los colores $pink-border y $pink-shadow */
      transform: translate3d(0, 0.5em, -1em);
    }
  }

  &:active {
    background: #ffe9e9; /* Reemplazado por el color $pink */
    transform: translate(0em, 0.75em);

    &::before {
      box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2; /* Reemplazados por los colores $pink-border y $pink-shadow */
      transform: translate3d(0, 0, -1em);
    }
  }
}


/* Estilos para la trivia */
#faseTrivia {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.tarjeta {
  box-sizing: content-box;
  width: 26.87em;
  margin: auto;
  padding: 2.5em 3em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.tarjeta p {
  padding-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0em;
  transform: translateX(-20px) translatey(-15px);
}

#opciones {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: auto;
}

ul {
  margin-block-end: 0.5em;
  display: flex;
  flex-direction: column;
}

#opciones li {
  color: #AAAAAA;
  display: flex; /* Cambiado a flex */
  flex-wrap: wrap;
  align-items: center; /* Centra verticalmente los elementos hijos */
  position: relative;
  height: 60px; /* Reducido el alto de las opciones */
}

#opciones input[type=radio] {
  position: absolute;
  visibility: hidden;
}

#opciones label {
  display: flex;
  align-items: center; /* Centra verticalmente el texto */
  position: relative;
  font-weight: 300;
  font-size: 1em; /* Reducido el tamaño del texto */
  height: 30px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.25s linear;
}

#opciones li:hover label {
  color: black;
}

#opciones li .check {
  display: block;
  position: relative;
  border: 3px solid #AAAAAA; /* Reducido el grosor del borde */
  border-radius: 50%;
  height: 18px; /* Reducido el tamaño del círculo */
  width: 18px; /* Reducido el tamaño del círculo */
  margin-right: 10px; /* Espacio entre el círculo y el texto */
  transition: border 0.25s linear;
}

#opciones li:hover .check {
  border: 3px solid black; /* Reducido el grosor del borde en el hover */
}

#opciones li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 50%;
  height: 10px; /* Reducido el tamaño del punto central */
  width: 10px; /* Reducido el tamaño del punto central */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  transition: background 0.25s linear;
}

#opciones input[type=radio]:checked ~ .check {
  border: 3px solid #b18597;
}

#opciones input[type=radio]:checked ~ .check::before {
  background: #b18597;
}

#opciones input[type=radio]:checked ~ label {
  color: #b18597;
}

#errorContainer,
#errorAcertijo {
  text-align: center;
  color: red;
  margin-top: 15px; /* Reducido el margen superior del contenedor de error */
}


/* Estilos para el memotest */
#faseMemotest {
  text-align: center;
  padding: 0px;
}

.wrapper {
  box-sizing: content-box;
  width: 26.87em;
  padding: 2.5em 3em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Ajusta según la cantidad de columnas deseadas */
  gap: 0.6em;
}

.card-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Asegura que el contenedor sea cuadrado */
}

.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}

.card-before {
  background-color: #b18597;
  font-size: 2.8em;
  font-weight: 600;
}

.card-after {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.card-container.flipped .card-before {
  transform: rotateY(180deg);
}

.card-container.flipped .card-after {
  transform: rotateY(0deg);
}

.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #b18597;
  top: 0;
}

button {
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}

#stop,
#avanzarMemotestButton {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
  background-color: #000000;
  color: #ffffff;
}

.controls-container button {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}

.hide {
  display: none;
}

#result {
  text-align: center;
}

#result h2 {
  font-size: 2.5em;
}

#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}

.preAcertijo {
  text-align: center;
}


/* Estilos para la fase de acertijo */
#fasePreAcertijo .tarjeta,
#faseAcertijo .tarjeta {
  box-sizing: content-box;
  width: 30em;
  margin: auto;
  padding: 2.5em 3em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.acertijoParrafo {
  text-align: center;
}

.containerRespuestaAcertijo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerRespuestaAcertijo textarea {
  resize: none;
}

.containerRespuestaAcertijo input,
.containerRespuestaAcertijo textarea {
  background: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  text-align: center;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid mix(white, #424242, 70%);
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #2196F3;
  }
  &:focus ~ .bar:before {
    width: 320px;
  }
}

.containerRespuestaAcertijo label {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

 /* Estilos para la tarjeta específica de la fase de propuesta */

 
 #fasePropuesta .tarjeta {
  text-align: center;
  box-sizing: content-box;
  width: 80vw;
  margin: auto;
  padding: 2.5em 3em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

#fasePropuesta .gif-container {
  margin-block: 20px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

#fasePropuesta .gif-container iframe {
  width: 100%;
  height: 100%; /* Ajustado para que el iframe ocupe toda la altura del contenedor */
  border: 0;
  position: absolute; /* Ajustado para que el iframe sea relativo al contenedor */
  top: 0; /* Ajustado para posicionar el iframe en la parte superior del contenedor */
  left: 0; /* Ajustado para posicionar el iframe en la parte izquierda del contenedor */
}

.top {
  margin-top: 30px;
}

.containerError {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: -40px;
}

.ghost {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #EDEDED;
  border: 1px solid #BFC0C0;
  border-bottom: none;
  animation: float 2s ease-out infinite;
}

.ghost-copy {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #EDEDED;
  border: 1px solid #BFC0C0;
  border-bottom: none;
  animation: float 2s ease-out infinite;
  z-index: 0;
}

.face {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
}

.eye,
.eye-right {
  position: absolute;
  background: #585959;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 40%;
}

.eye {
  left: 25%;
}

.eye-right {
  right: 25%;
}

.mouth {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #585959 #585959 transparent;
  transform: rotate(45deg);
}

.one,
.two,
.three,
.four {
  position: absolute;
  background: #EDEDED;
  top: 85%;
  width: 25%;
  height: 23%;
  border: 1px solid #BFC0C0;
  z-index: 0;
}

.one {
  border-radius: 0 0 100% 30%;
  left: -1px;
}

.two {
  left: 23%;
  border-radius: 0 0 50% 50%;
}

.three {
  left: 50%;
  border-radius: 0 0 50% 50%;
}

.four {
  left: 74.5%;
  border-radius: 0 0 30% 100%;
}

.shadow {
  position: absolute;
  width: 30%;
  height: 7%;
  background: #BFC0C0;
  left: 35%;
  top: 80%;
  border-radius: 50%;
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  50% {
    transform: translateY(15px);
  }
}

.bottom {
  margin-top: 10px;
}

/*text styling*/
.top h1 {
  font-family: 'Abril Fatface', serif;
  color: #EDEDED;
  text-align: center;
  font-size: 9em;
  margin: 0;
  text-shadow: -1px 0 #BFC0C0, 0 1px #BFC0C0, 1px 0 #BFC0C0, 0 -1px #BFC0C0;
}

.top h3 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #BFC0C0;
  margin-top: -20px;
  font-weight: 900;
}

.bottom p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #585959;
  font-size: .6em;
  margin-top: -20px;
  text-transform: uppercase;
}


/* Ajustes específicos para dispositivos móviles */
@media (max-width: 767px) {
  .six {
    font-size:1.3em; 
    font-weight:200;
  }
  p {
    line-height:2em;
    font-size:0.8em;
  }
  
 #pregunta{
    line-height:2em;
    font-size:1em;
  }

  #opciones label {
    font-weight: 150;
    font-size: 0.8sem;
  }

  #errorContainer,
  #errorAcertijo {
    font-size:0.8em;
  }

  .tarjeta {
    box-sizing: border-box;
    width: 80vw;
  }

  button.btn.btn-primary,
  .btn-verificar,
  #verificarAcertijo.btn-primary {
    padding: 8px 12px; /* Ajuste del tamaño del padding para pantallas pequeñas */
    font-size: 0.7em; /* Ajuste del tamaño de fuente para pantallas pequeñas */
  }

  #opciones li {
    height: 60px; /* Reducción adicional de altura para pantallas más pequeñas */
  }

  #opciones label {
    font-size: 0.9em; /* Reducción adicional de tamaño de fuente para pantallas más pequeñas */
  }

  #opciones li .check {
    border: 4px;
    height: 8px; /* Reducción adicional de tamaño para pantallas más pequeñas */
    width: 8px; /* Reducción adicional de tamaño para pantallas más pequeñas */
    margin-right: 8px; /* Reducción de espacio entre el círculo y el texto */
    margin-left: -15px; /* Ajuste adicional para acercar el círculo al texto */
  }
  
  #opciones li .check::before {
    height: 5px;
    width: 5px;
  }

  .memotest-card {
    width: 60px; /* Reducimos el tamaño de las tarjetas para dispositivos móviles */
    height: 60px; /* Reducimos el tamaño de las tarjetas para dispositivos móviles */
  }
  
  #avanzarMemotest {
    font-size: 16px; /* Reducimos el tamaño del botón en dispositivos móviles */
  }

  .wrapper {
    box-sizing: border-box;
    width: 100vw;
    transform: translate(-50%, -50%);
  
  }

  #fasePreAcertijo .tarjeta,
  #faseAcertijo .tarjeta {
    box-sizing: border-box;
    width: 80vw;
  }

  #faseAcertijo h1 {
    font-size: 1.2em;
  }
  
  #faseAcertijo p {
    font-size: 0.6em;
  }

.containerRespuestaAcertijo input {
  font-size: 1em;
}

.containerRespuestaAcertijo input::placeholder {
  font-size: 0.5em;
  color: #b18597;
}

  #opcionesRespuesta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  #opcionesRespuesta .btn-primary {
    margin: 10px;
  }
  
  #fasePropuesta .tarjeta {
    box-sizing: border-box;
    width: 80vw;
  }

  #fasePropuesta .gif-container {
    margin-block: 0px;
  }

  #fasePropuesta h1 {
    font-size: 1.2em;
  }

}

