@import url('https://fonts.googleapis.com/css?family=Lato');

/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0px;
  box-sizing: border-box;
}

.six {
  text-align: center;
  color:#222; 
  font-size:2em; 
  font-weight:400;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px; color:#c50000;
}
p {
  line-height:2em;
  padding-bottom:15px;
  text-transform: none;
  font-size:1em;
  font-weight: normal;
  font-style: italic; font-family: "Playfair Display","Bookman",serif;
  color:#999; letter-spacing:-0.005em; word-spacing:1px;
  letter-spacing:none;
}


/* Estilos para la introducción */
#faseIntroduccion {
  text-align: center;
}

button.btn.btn-primary,
.btn-verificar,
#verificarAcertijo.btn-primary {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  color: #382b22; 
  text-transform: uppercase;
  padding: 15px 20px;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2; /* Reemplazado por el color $dark-pink */
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2; /* Reemplazados por los colores $pink-border y $pink-shadow */
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }

  &:hover {
    background: #ffe9e9; /* Reemplazado por el color $pink */
    transform: translate(0, 0.25em);

    &::before {
      box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2; /* Reemplazados por los colores $pink-border y $pink-shadow */
      transform: translate3d(0, 0.5em, -1em);
    }
  }

  &:active {
    background: #ffe9e9; /* Reemplazado por el color $pink */
    transform: translate(0em, 0.75em);

    &::before {
      box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2; /* Reemplazados por los colores $pink-border y $pink-shadow */
      transform: translate3d(0, 0, -1em);
    }
  }
}


/* Estilos para la trivia */
#faseTrivia {
  display: none;
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.tarjeta {
  box-sizing: content-box;
  width: 26.87em;
  margin: auto;
  padding: 2.5em 3em;
  background-color: #ffffff;
  position: relative;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.tarjeta p {
  padding-bottom:0px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0em;
}

#opciones {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

ul {
  margin-block-end: 0.5em;
  display: flex;
  flex-direction: column;
}

#opciones li {
  color: #AAAAAA;
  display: flex; /* Cambiado a flex */
  flex-wrap: wrap;
  align-items: center; /* Centra verticalmente los elementos hijos */
  position: relative;

  height: 100px;
}

#opciones input[type=radio] {
  position: absolute;
  visibility: hidden;
}

#opciones label {
  display: flex;
  align-items: flex-start;;
  position: relative;
  font-weight: 300;
  font-size: 1.25em;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.25s linear;
}

#opciones li:hover label {
  color: black;
}

#opciones li .check {
  display: block;
  position: relative;
  border: 5px solid #AAAAAA;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 10px; /* Espacio entre el círculo y el texto */
  margin-left: -30px; /* Ajuste para acercar el círculo al texto */
  transition: border 0.25s linear;
}

#opciones li:hover .check {
  border: 5px solid black;
}

#opciones li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 50%;
  height: 12px;
  width: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  transition: background 0.25s linear;
}

#opciones input[type=radio]:checked ~ .check {
  border: 5px solid #b18597;
}

#opciones input[type=radio]:checked ~ .check::before {
  background: #b18597;
}

#opciones input[type=radio]:checked ~ label {
  color: #b18597;
}

#errorContainer {
  color: red;
  margin-top: 30px;
}


/* Estilos para el memotest */
#faseMemotest {
  text-align: center;
  padding: 0px;
}

.wrapper {
  box-sizing: content-box;
  width: 26.87em;
  padding: 2.5em 3em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Ajusta según la cantidad de columnas deseadas */
  gap: 0.6em;
}

.card-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Asegura que el contenedor sea cuadrado */
}

.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}

.card-before {
  background-color: #b18597;
  font-size: 2.8em;
  font-weight: 600;
}

.card-after {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.card-container.flipped .card-before {
  transform: rotateY(180deg);
}

.card-container.flipped .card-after {
  transform: rotateY(0deg);
}

.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #b18597;
  top: 0;
}

button {
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}

#stop,
#avanzarMemotestButton {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
  background-color: #000000;
  color: #ffffff;
}

.controls-container button {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}

.hide {
  display: none;
}

#result {
  text-align: center;
}

#result h2 {
  font-size: 2.5em;
}

#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}


/* Estilos para la fase de acertijo */
.tarjeta-acertijo {
  border: 2px solid #ff4081;
  border-radius: 15px;
  background-color: #fce4ec;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 20px;
  margin-top: 20px; /* Ajusta el espacio superior según sea necesario */
}

 /* Estilos para la tarjeta específica de la fase de propuesta */
 .fasePropuesta .tarjeta {
  background-color: #3498db;
  border-color: #3498db;
}

.fasePropuesta .tarjeta-titulo {
  color: #fff;
}

.fasePropuesta .btn-respuesta {
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: #ecf0f1;
}

.fasePropuesta .btn-respuesta:hover {
  background-color: #34495e;
  border-color: #34495e;
}

.fasePropuesta .gif-container {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.fasePropuesta .gif-container iframe {
  width: 100%;
  height: 100%; /* Ajustado para que el iframe ocupe toda la altura del contenedor */
  border: 0;
  position: absolute; /* Ajustado para que el iframe sea relativo al contenedor */
  top: 0; /* Ajustado para posicionar el iframe en la parte superior del contenedor */
  left: 0; /* Ajustado para posicionar el iframe en la parte izquierda del contenedor */
}

/* Ajustes específicos para dispositivos móviles */
@media (max-width: 767px) {
  .tarjeta {
    box-sizing: border-box;
    width: 80vw;
  }

  button.btn.btn-primary,
  .btn-verificar,
  #verificarAcertijo.btn-primary {
    padding: 8px 12px; /* Ajuste del tamaño del padding para pantallas pequeñas */
    font-size: 0.7em; /* Ajuste del tamaño de fuente para pantallas pequeñas */
  }

  #opciones li {
    height: 60px; /* Reducción adicional de altura para pantallas más pequeñas */
  }

  #opciones label {
    font-size: 0.9em; /* Reducción adicional de tamaño de fuente para pantallas más pequeñas */
  }

  #opciones li .check {
    border: 4px;
    height: 8px; /* Reducción adicional de tamaño para pantallas más pequeñas */
    width: 8px; /* Reducción adicional de tamaño para pantallas más pequeñas */
    margin-right: 8px; /* Reducción de espacio entre el círculo y el texto */
    margin-left: -15px; /* Ajuste adicional para acercar el círculo al texto */
  }
  
  #opciones li .check::before {
    height: 5px;
    width: 5px;
  }

  #errorContainer {
    margin-top: 15px; /* Reducción adicional del espacio superior */
  }

  .memotest-card {
    width: 60px; /* Reducimos el tamaño de las tarjetas para dispositivos móviles */
    height: 60px; /* Reducimos el tamaño de las tarjetas para dispositivos móviles */
  }
  
  #avanzarMemotest {
    font-size: 16px; /* Reducimos el tamaño del botón en dispositivos móviles */
  }

  .wrapper {
    box-sizing: border-box;
    width: 100vw;
    transform: translate(-50%, -50%);
  
  }

  #opcionesRespuesta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  #opcionesRespuesta .btn-primary {
    margin: 15px;
  }
  
}

